<header1>
  <div class="jumbotron"  style="background-color:#8b3aac80;">
  <h2><span style="color:rgb(179, 25, 64);font-size:30px"><i>T</i></span>echie</h2>
<a href="/" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/aboutPage" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/contactUs" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/reachUs" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">REACH US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
</div>
</header1>
