<html>
    <head>
        <title>
            About 
        </title>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      
      

<div class="container">
    {{>header}}
		<div class='bg-success text-light'>
            <center><h5>About Us</h5></center>
            We at techietechnologies provide infromation related to latest technology
            and provide tech support  to our visitors
        </div>
        <br>
        <br>
        <br>
        <div class='bg-danger text-light'>
            <center><h5>About Me</h5></center>
            I am deepak Karnani , studying Bca in Lovely Professional Univeristy.
            This is my assignment
             
        </div>
	</div>
{{>footer}}


    </body>
</html>