<html>
    <head>
        <title>
            home page
            
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        {{>header}}
   

<div class="container">
		
   
<ul class="nav nav-tabs">
  
	
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#home" >Techie</a>
	</li>
	<li class="nav-item">
		<a  class="nav-link " href="#sil"  data-toggle="tab">Silicon Valley</a>
	</li>
	<li class="nav-item">
		<a  class="nav-link " href="#ban"  data-toggle="tab" >Banglore</a>
	</li>
	<li class="nav-item">
		<a  class="nav-link " href="#pun"  data-toggle="tab" >Pune</a>
	</li>
	</ul>

<div class="tab-content">
	<div class="container tab-pane active" id="home">
	   <div style="background: url('https://www.investereum.com/wp-content/uploads/2018/03/investereumbackgroundhomepage.jpg');">
    
    Techie is a person who is expert in or enthusiastic about technology, especially computing.<br>
    Here are some places flooded with techies
    <ul>
      <li> Silicon Valley</li>
       <li>Banglore</li>
       <li>Pune</li>
       
    </ul>
    
  </div>

	</div>
	<div class="container tab-pane" id="sil">
      <div class='row'>
        <div class='col-md-5'>
         <center><h2 style="color:blueviolet">Silicon Valley</h2></center>
          Silicon Valley is a region in the southern part of the San Francisco Bay Area in Northern California 
          that serves as a global center for high technology, innovation, venture capital, and social media. 
          It corresponds roughly to the geographical Santa Clara Valley. San Jose is the Valley's largest city, 
          the third-largest in California, and the tenth-largest in the United States; other major Silicon Valley 
          cities include Sunnyvale, Santa Clara, Redwood City, Mountain View, Palo Alto, Menlo Park, and Cupertino.
        
           The San Jose Metropolitan Area has the third-highest GDP per capita 
          in the world (after Zurich, Switzerland and Oslo, Norway), according to the Brookings Institution.[1]
        </div>
        <div class='col-md-3' >
          <img width='300px' src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Silicon_Valley%2C_facing_southward_towards_Downtown_San_Jose%2C_2014.jpg/450px-Silicon_Valley%2C_facing_southward_towards_Downtown_San_Jose%2C_2014.jpg'>

        </div>
        <div class='col-md-4'>
          <center><h4 style="color:cornflowerblue">Some famous companies in Silicon Valley</h4></center>
          <ul>
            <li>Google</li>
            <li>Apple</li>
             <li>Facebook</li>
              <li>Nvidia</li>
          </ul>
        </div>

      </div>
		
	</div>
	<div class="container tab-pane" id="ban">
    <div class='row'>
        <div class='col-md-5'>
          <center><h2 style="color:blueviolet">Banglore</h2></center>
         Bangalore, officially known as Bengaluru
    is the capital of the Indian state of Karnataka. 
    It has a population of over ten million,[8] making it a megacity and the third-most populous city 
         and fifth-most populous urban agglomeration in India.
         Bengaluru is sometimes referred to as the "Silicon Valley of India" (or "IT capital of India") 
         because of its role as the nation's leading information technology (IT) exporter.
        </div>
        <div class='col-md-3' >
          <img width='300px' src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/UB_City_at_night_.jpg/420px-UB_City_at_night_.jpg'>

        </div>
        <div class='col-md-4'>
          <center><h4 style="color:cornflowerblue">Some famous companies in Banglore</h4></center>
          <ul>
            <li>Infosys</li>
            <li>HAL</li>
             <li>Wipro</li>
              <li>ISRO</li>
          </ul>
        </div>

      </div>
	</div>
  	<div class="container tab-pane" id="pun">
    <div class='row'>
        <div class='col-md-5'>
          <center><h2 style="color:blueviolet">Pune</h2></center>
         
        Pune  also called Poona, the official name until 1978,
        is the second largest city in the Indian state of Maharashtra, after Mumbai.
        The city is considered to be the cultural capital of Maharashtra.
        It is also known as the "Oxford of the East" due to the presence of several well-known educational institutions.[31][32] The city has emerged as a major educational hub in recent decades, with nearly half of the total international students in the country studying in Pune.[33][34] Research institutes of information technology, education, management and training attract students and professionals from India and overseas. 
        Several colleges in Pune have student exchange programmes with colleges in Europe.
        </div>
        <div class='col-md-3' >
          <img width='300px' src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Pune_montage.png/375px-Pune_montage.png'>

        </div>
        <div class='col-md-4'>
          <center><h4 style="color:cornflowerblue">Some famous companies in Pune</h4></center>
          <ul>
            <li>Tech Mahindra</li>
            <li>TCS</li>
             <li>Cognizant</li>
              <li>Capgemini</li>
          </ul>
        </div>

      </div>
      </div>

 
       
        </div>
        </div>
        <br>
        <br>
		{{>footer}}
    </body>
</html>