


<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  </head>
  <body>
  
    <section id="contact">
       <div class="container">
          {{>header}}
           <h3 class="text-center text-uppercase">Reach us</h3>
           <p class="text-center w-75 m-auto">
             Want to reach us and find any help?
             We are here to help you.
             24/7 at your service
           </p>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">call us</h4>
                    <p>+91 1800 345 500,+91 1800 345 501</p>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">office loaction</h4>
                   <address>       Techie Technologies,
               Humble Towers,
               Jagadamba Center,
               Vizag-500101,
               Andhra Pradesh,
               India </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">office loaction</h4>
                    <address> Techie Technologies,
               Raj Towers,
                Beasent Raod,
               Vijayawad-521005,
               Andhra Pradesh,
               India </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">email</h4>
                    <p>techietechonologies@techt.co.in</p>
                  </div>
                </div>
             </div>
           </div>
       </div>
    </section>
    {{>footer}}
    
  </body>
</html>